body {
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    padding: 20px;
}
.container {
    background: white;
    padding: 20px;
    width: 100%;
    max-width: 350px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
input {
    width:93%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#resultado {
    margin-top: 20px;
    text-align: left;
}
.card {
    background: #fafafa;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
}
